@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7fafc;
  --primary: #2d3748;
  --primary-highlighted: #4a5568;
  --primary-active: #1a202c;
  --secondary: #cfd8dc;
  --highlighted-background: #edf2f7;
  --active-background: #e2e8f0;
}

.dark {
  --background: #1a202c;
  --primary: #edf2f7;
  --primary-highlighted: #cbd5e0;
  --primary-active: #e2e8f0;
  --secondary: #37474f;
  --highlighted-background: #2d3748;
  --active-background: #4a5568;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

sup {
  text-justify: none;
}
